{% extends "templates/bootstrap.html.twig" %}

{% block title %}HTTP 404{% endblock %}

{% block content %}

	<div class="jumbotron masthead">
		<div class="container">
			<h1>HTTP 404</h1>
			<p>Ooops, page not found!</p>
		</div>
	</div>

	<div class="bs-docs-social">
		<div class="container">
			
		</div>
	</div>
	
{% endblock %}